extends layout

block content
     img.rounded.float-left.mr-3.index-image(src="/images/index.jpg")
     h1= title
     p
          | #{__('I was born in Pamplona, Spain in 07-08-96')}
          br
          | #{__('Currently in my last year of my bachelor studies')}
