extends layout

block content
     h1= title
     ul.list-group.list-group-flush
          each skill in skills
               li.list-group-item #[strong #{__(skill.name)}:] #{__(skill.description)}.
          
