extends layout

block content
     h1= title
     ul.list-group.list-group-flush
          each study in studies
               li.list-group-item #[strong #{study.name}:] #{study.description} (#{study.years})
